<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Content Manager</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <!-- Include the script that builds the page and powers Netlify CMS -->
        <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
        <script>
            CMS.registerPreviewStyle("/css/surface.css");
        </script>
        <script>
            var TestimonialPreview = createClass({
                render: function () {
                    var entry = this.props.entry;
                    var author = entry.getIn(['data', 'author']);
                    var company = entry.getIn(['data', 'org']);

                    return h('div', {"className": "testimonial"},
                        h('blockquote', {}, this.props.widgetFor('body')),
                        h('p', {},
                            h('cite', {"className": "vcard"},
                                h('span', {"className": "fn author"}, company ? `${author}, ` : author),
                                h('span', {"className": "org"}, company || ''),
                            )
                        )
                    );
                }
            });

            CMS.registerPreviewTemplate("testimonials", TestimonialPreview);
        </script>
    </body>
</html>
