<!doctype html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta property="og:title" content="{{ site.title }}"/>
        <meta property="og:description" name="description" content="{{ meta.description }}"/>
        <meta property="og:image" content="{{ "/icon.png" | url | absoluteUrl(site.baseUrl) }}"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@madebysurface"/>
        <meta name="keywords" content="{{ meta.keywords }}"/>
        <meta name="apple-mobile-web-app-title" content="{{ site.title }}"/>
        <meta name="application-name" content="{{ site.title }}"/>
        <meta name="msapplication-TileColor" content="#2b5797"/>
        <meta name="theme-color" content="#ffffff"/>

        <title>{{ site.title }} — {{ site.summary }}</title>

        <script type="text/javascript">
            document.getElementsByTagName('html')[0].className += ' js';
        </script>

        <link rel="icon" href="{{ "/favicon.svg" | url | absoluteUrl(site.baseUrl) }}"/>
        <link rel="apple-touch-icon" href="{{ "/icon.png" | url | absoluteUrl(site.baseUrl) }}" sizes="180x180"/>
        <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | url | absoluteUrl(site.baseUrl) }}" color="#5bbad5"/>
        <link rel="manifest" href="{{ "/site.webmanifest" | url }}"/>
        <link rel="stylesheet" href="{{ "/css/surface.css" | url }}"/>
    </head>

    <body class="{{ bodyClass }}">
        <header>
            <h1>
                <a href="{{ "/" | url }}">
                    {% include "../assets/img/logo.svg" %}
                </a>
            </h1>
            <h2>{{ site.summary }}</h2>
        </header>

        <main>
            <div class="inner">
                {{ content | safe }}
            </div>
        </main>

        <footer>
            <h3><em class="fn">{{ site.author }}</em> <span class="tel">{{ site.telephone }}</span></h3>
            <p><a href="mailto:{{ site.email }}" class="email">{{ site.email }}</a></p>

            {% include "address.njk" %}
        </footer>

        <script src="{{ "/js/manifest.js" | url }}"></script>
        <script src="{{ "/js/vendor.js" | url }}"></script>
        <script src="{{ "/js/site.js" | url }}"></script>
    </body>
</html>
