<!doctype html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{{ site.title }} — {{ site.summary }}</title>

        <meta name="description" content="{{ meta.description }}" />
        <meta name="keywords" content="{{ meta.keywords }}" />

        <script type="text/javascript">
            document.getElementsByTagName('html')[0].className += ' js';
        </script>

        <link rel="icon" href="{{ "/favicon.svg" | url }}"/>
        <link rel="stylesheet" href="{{ "/css/surface.css" | url }}"/>
    </head>

    <body class="{{ bodyClass }}">
        <header>
            <h1><a href="{{ "/" | url }}"><svg viewBox="0 0 489 112"><use xlink:href="{{ "/img/logo.svg#logo" | url }}"></use></svg></a></h1>
            <h2>{{ site.summary }}</h2>
        </header>

        <main>
            <div class="inner">
                {{ content | safe }}
            </div>
        </main>

        <footer>
            <h3><em class="fn">{{ site.author }}</em> <span class="tel">{{ site.telephone }}</span></h3>
            <p><a href="mailto:{{ site.email }}" class="email">{{ site.email }}</a></p>

            {% include "address.njk" %}
        </footer>

        <script src="{{ "/js/manifest.js" | url }}"></script>
        <script src="{{ "/js/vendor.js" | url }}"></script>
        <script src="{{ "/js/site.js" | url }}"></script>
    </body>
</html>
