---
layout: default
bodyClass: expertise scrolling
---
<section class="expertise with-icon" data-viewport="{{ key }}">
    <div class="inner">
        <h2>{{ title }}</h2>
        {% icon { 'icon': icon, 'key': key } %}
        {{ content | safe }}
    </div>
</section>
