---
layout: default
bodyClass: homepage scrolling
---
{% set expertise = (collections.expertise | byKey('laravel')) %}
<section class="expertise with-icon" data-viewport="{{ expertise.data.key }}">
    <div class="inner">
        {% include "expertise.njk" %}
    </div>
</section>

<section class="testimonial">
    <div class="inner">
        {% set testimonial = (collections.testimonials | bySlug(testimonial_1)) %}
        {% include "testimonial.njk" %}
    </div>
</section>

{% set expertise = (collections.expertise | byKey('wordpress')) %}
<section class="expertise with-icon" data-viewport="{{ expertise.data.key }}">
    <div class="inner">
        {% include "expertise.njk" %}
    </div>
</section>

<section class="testimonial">
    <div class="inner">
        {% set testimonial = (collections.testimonials | bySlug(testimonial_2)) %}
        {% include "testimonial.njk" %}
    </div>
</section>

{% set expertise = (collections.expertise | byKey('development')) %}
<section class="expertise with-icon" data-viewport="{{ expertise.data.key }}">
    <div class="inner">
        {% include "expertise.njk" %}
    </div>
</section>

<section class="testimonial">
    <div class="inner">
        {% set testimonial = (collections.testimonials | bySlug(testimonial_3)) %}
        {% include "testimonial.njk" %}
    </div>
</section>

<section class="testimonial">
    <div class="inner">
        {% set testimonial = (collections.testimonials | bySlug(testimonial_4)) %}
        {% include "testimonial.njk" %}
    </div>
</section>
