---
layout: default
---
{% for testimonial in testimonials %}
<section class="testimonials">
    <div class="inner">
        {{ testimonial.templateContent | safe }}
    </div>
</section>
{% endfor %}
