section {
  position: relative;
  padding: 1.5rem;
  background: #fff;

  > .inner {
    position: relative;
    max-width: 50rem;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    margin: -4.5rem -2.5rem 0 0;
    max-width: 300px;
    opacity: 0.05;
  }

  @media only screen and (min-width: map.get($breakpoints, "sm")) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    svg {
      margin-right: -4.5rem;
      margin-top: -5rem;
    }
  }
}
