section {
  position: relative;
  padding: 1.5rem;
  background: #fff;

  > .inner {
    position: relative;
    max-width: 50rem;
  }

  svg {
    max-width: 150px;
    margin: -10px 0 0;
  }

  @media only screen and (min-width: map.get($breakpoints, "sm")) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
