body.homepage {
  @media only screen and (min-width: map.get($breakpoints, "xl")) and (min-height: 600px) {
    main {
      padding-top: 100vh;
      padding-bottom: 75vh;

      &::before,
      &::after {
        position: absolute;
        top: 200px;
        left: 50%;
        display: block;
        height: 400px;
        width: 400px;
        margin: 0 0 0 50px;
        opacity: 0.1;
        content: url(../img/icons/awesome/arrow-down.svg);
      }

      &::after {
        top: auto;
        bottom: 0;
        transform: rotate(180deg);
      }
    }
  }
}
