body.scrolling {
  header {
    padding-bottom: 3.5rem;

    @media only screen and (min-width: map.get($breakpoints, "sm")) {
      padding-bottom: 3.5rem;
    }

    @media only screen and (min-width: map.get($breakpoints, "xl")) and (min-height: 600px) {
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  section {
    background: #f9f9f9;

    &:nth-child(2n) {
      background: #fff;
    }

    @media only screen and (min-width: map.get($breakpoints, "xl")) and (min-height: 600px) {
      padding-top: 6.5rem;
    }

    @media only screen and (min-width: map.get($breakpoints, "md")) {
      &.with-icon > .inner {
        padding-left: 170px;
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        max-width: 230px;
        margin: -2rem auto 0 -3.5rem;
      }
    }

    @media only screen and (min-width: map.get($breakpoints, "xl")) {
      > .inner {
        min-height: 100vh;
      }

      &.with-icon > .inner {
        padding-left: 0;
      }

      svg {
        left: auto;
        right: 0;
        max-width: 300px;
        margin: -10rem -4.5rem 0 0;
      }
    }

    @media only screen and (min-width: map.get($breakpoints, "xxl")) {
      &.with-icon > .inner {
        padding-left: 170px;
      }

      svg {
        left: 0;
        right: auto;
        max-width: 230px;
        margin: -3.25rem auto 0 -3.5rem;
      }
    }

    @media only screen and (min-width: map.get($breakpoints, "xl")) and (min-height: 600px) {
      padding-left: $leftOffset;
    }
  }
}
