---
bodyClass: homepage scrolling
---
<section class="expertise with-icon" data-viewport="laravel">
    <div class="inner">
        <h2>Laravel Development</h2>

        <svg viewBox="0 0 30 24" class="icon icon--laravel"><use xlink:href="/img/icons.svg#laravel"></use></svg>

        <p>I specialise in building bespoke web-based solutions. One of the tools I use is the <a href="https://laravel.com">Laravel framework</a>.
        This helps me build solutions that are robust and scalable with the best practices of PHP development.</p>

        <p>Using the Laravel framework helps compatibility when working with larger teams and allows developers to be
        brought up to speed quickly through the use of good documentation and the well-defined opinionated workflow.</p>

        <p>I have worked with the framework <em>since version 4</em> and have over <strong>six</strong> years of experience.
        In which time I have helped build customer relationship management systems, large content management systems, and
        integrated with various APIs.</p>
    </div>
</section>

<section class="testimonial">
    <div class="inner">
        <blockquote class="vcard">
            <p>A professional web developer that considers how to make content management easy for the end user.</p>
            <cite class="fn"><span class="fn author">Tina Meigh</span>, <span class="org">Plinkfizz</span></cite>
        </blockquote>
    </div>
</section>

<section class="expertise with-icon" data-viewport="wordpress">
    <div class="inner">
        <h2>WordPress Development</h2>

        <svg viewBox="0 0 30 24" class="icon icon--wordpress"><use xlink:href="/img/icons.svg#wordpress"></use></svg>

        <p>If you need a conventional public-facing company-focused website, then <a href="https://wordpress.org">WordPress</a>
        provides a brilliant starting point. The open source content management system powers an incredibly large portion of the
        web and with its ease of use it is easy to see why.</p>

        <p>Many clients request a WordPress solution due to their familiarity with a previous website. I provide a complete
        solution, including frontend development of custom themes and any bespoke functionality.</p>

        <p>I have worked with WordPress for many years and built tens of custom websites for a wide variety of clients –
        both <em>big</em> and <em>small</em>. I can tailor the solution to budget and client demands.</p>
    </div>
</section>

<section class="testimonial">
    <div class="inner">
        <blockquote class="vcard">
            <p>Trevor delivers excellent websites on time, always meets expectations and will talk through solutions
            to overcome any website challenges to deliver the best result possible.</p>
            <cite class="fn"><span class="fn author">Tina Meigh</span>, <span class="org">Plinkfizz</span></cite>
        </blockquote>
    </div>
</section>

<section class="expertise with-icon" data-viewport="development">
    <div class="inner">
        <h2>Custom Development</h2>

        <svg viewBox="0 0 800 512" class="icon icon--code"><use xlink:href="/img/icons.svg#code"></use></svg>

        <p>Having started off as the sole developer in a small design agency, I needed to provide a complete solution
        across the <strong>full-stack</strong> of web technologies. There are two main areas of web development;
        <em>server-side</em> and <em>client-side</em>.</p>

        <h3>Server-side</h3>

        <p>The heavy lifting of a website or web application is done in the background. A programming language such
        as PHP or Node usually talks to a database and sends the code to the browser.</p>

        <p>For over a decade I have primarily worked with PHP and MySQL – both technologies that power WordPress –
        and can build solutions for complex websites with these tools.</p>

        <h3>Client-side</h3>

        <p>What you see in your browser is powered by three web technologies; HTML, CSS and JavaScript. Using a
        combination of these three, I am able to transform your designs in to beautiful, interactive and accessibile
        web experiences.</p>
    </div>
</section>
