---
bodyClass: homepage scrolling
---
{% set laravel = (collections.expertise | byKey('laravel')) %}
{% set wordpress = (collections.expertise | byKey('wordpress')) %}
{% set development = (collections.expertise | byKey('development')) %}
{% set testimonial1 = (collections.testimonials | bySlug('01-plinkfizz-tina-meigh')) %}
{% set testimonial2 = (collections.testimonials | bySlug('02-james-wade')) %}

<section class="expertise with-icon" data-viewport="{{ laravel.data.key }}">
    <div class="inner">
        <h2>{{ laravel.data.title }}</h2>
        {% icon laravel.data %}
        {{ laravel.templateContent | safe }}
    </div>
</section>

<section class="testimonial">
    <div class="inner">
        {{ testimonial1.templateContent | safe }}
    </div>
</section>

<section class="expertise with-icon" data-viewport="{{ wordpress.data.key }}">
    <div class="inner">
        <h2>{{ wordpress.data.title }}</h2>
        {% icon wordpress.data %}
        {{ wordpress.templateContent | safe }}
    </div>
</section>

<section class="testimonial">
    <div class="inner">
        {{ testimonial2.templateContent | safe }}
    </div>
</section>

<section class="expertise with-icon" data-viewport="{{ development.data.key }}">
    <div class="inner">
        <h2>{{ development.data.title }}</h2>
        {% icon development.data %}
        {{ development.templateContent | safe }}
    </div>
</section>
