<section>
    <div class="inner">
        <ul class="items">
            <li class="button"><a href="{{ "/playground/stroke/" | url }}">Logo Stroke</a></li>
            <li class="button"><a href="{{ "/playground/opacity/" | url }}">Logo Opacity</a></li>
            <li class="button"><a href="{{ "/playground/colours/" | url }}">Logo Colours</a></li>
            <li class="button"><a href="{{ "/playground/cursor/" | url }}">Logo Cursor</a></li>
        </ul>
    </div>
</section>
