---
bodyClass: testimonials
---
{% for testimonial in collections.testimonials | reverse %}
<section class="testimonial">
    <div class="inner">
        {{ testimonial.templateContent | safe }}
    </div>
</section>
{% endfor %}
