---
bodyClass: testimonials
---
{% for testimonial in collections.testimonials %}
<section class="testimonials">
    <div class="inner">
        {{ testimonial.templateContent | safe }}
    </div>
</section>
{% endfor %}
