/* https://coolors.co/05668d-04738f-028090-019493-00a896-01b698-02c39a */
/* https://coolors.co/e63946-f07277-f8a6a9-a8dadc-457b9d-31587a-1d3557 */
/* https://coolors.co/f94144-f3722c-f8961e-f9c74f-90be6d-43aa8b-577590 */

:root {
  --color-s: #05668d;
  --color-u: #04738f;
  --color-r: #028090;
  --color-f: #019493;
  --color-a: #00a896;
  --color-c: #01b698;
  --color-e: #02c39a;
}

.icecream {
  --color-s: #e63946;
  --color-u: #f07277;
  --color-r: #f8a6a9;
  --color-f: #a8dadc;
  --color-a: #457b9d;
  --color-c: #31587a;
  --color-e: #1d3557;
}

.bright {
  --color-s: #f94144;
  --color-u: #f3722c;
  --color-r: #f8961e;
  --color-f: #f9c74f;
  --color-a: #90be6d;
  --color-c: #43aa8b;
  --color-e: #577590;
}
