$breakpoints: (
  "xs": 480px,
  "sm": 600px,
  "md": 700px,
  "lg": 840px,
  "xl": 1024px,
  "xxl": 1200px,
);

$colours: (
  "white": #fff,
  "gray": #888,
  "dark-gray": #222,
  "light-gray": #676767,
);

$leftOffset: 33rem;
